
header {
    display: inline-block;

}
#randMovie {
    box-shadow: 0em 0.5em 0.2em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
}
.posters {
    width: 100%;
    float: left;
}
.navbar-burger{
    margin-left: 0;
    
}

a.navbar-item:hover {
    color: #800000
}
h1 {
    font-size: 2em;
    font-family: 'Playfair Display SC', serif;
}
.content {
    text-align: center;
}

.genre-choice-button{
    border-color: #800020;
    color: #800020;
    font-weight: 600;
    /* font-family: 'Playfair Display SC', serif; */

}
.genre-choice-button:hover {
   
    border-color: #800020;
    background-color: #BA274A;
    color: #FFFFFF!important;     
    /* font-family: 'Playfair Display SC', serif; */

  }

  .genre-choice-button:active {
    border-color: #800020;
    background-color: #800020;
    color: #FFFFFF!important;     
  }

  img {
      margin: 10px;
  }
.is-horizontal-center{
    justify-content: center;
}
#submit-genre-button {
    border-color: #2A0C4E;
    color: #2A0C4E;
    font-family: 'Playfair Display SC', serif;
}
#submit-genre-button:hover {
    border-color: #2A0C4E;
    background-color: #2A0C4E;
    color: #FFFFFF;  
    font-family: 'Playfair Display SC', serif;
}

footer {
    text-align: center;
    font-family: 'Playfair Display SC', serif;

}

.genre-chosen {
    background-color: #800020;
    color: #FFFFFF!important;
}

.rating-button-selected {
    background-color: #BA274A;
    color: #FFFFFF!important;
}

.year-button-selected {
    background-color: #BA274A;
    color: #FFFFFF!important;
}

#genre-label {
    margin-bottom: 20px;
}

.genre-choice-col {
    padding: 5px;
}

#filter-sidebar {
    
}

.poster-col {
    border-bottom: 1px solid #e1e1e1;
    z-index: 100;
    position: relative;
    background-color: #FFFFFF;
}

.poster-loading {
    font-size: 120px;
    border: none;
    position: absolute;
    z-index: 1;
}