
#randMovie {
    box-shadow: 0em 0.5em 0.2em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
}
.posters {
    width: 40%;
    float: left;
}
a.navbar-item:hover {
    color: #800000
}
h1 {
    font-size: 2em;
    font-family: 'Playfair Display SC', serif;
}
.content {
    text-align: center;
}

.genre-choice-button{
    font-family: 'Playfair Display SC', serif;

}
.genre-choice-button:hover {
   
    border-color: gold;
    color: lightseagreen;     
    font-family: 'Playfair Display SC', serif;

  }

  img {
      margin: 10px;
  }
.is-horizontal-center{
    justify-content: center;
}
#submit-genre-button {
    font-family: 'Playfair Display SC', serif;
}
#submit-genre-button:hover {
    border-color: green;
    color: lightseagreen;  
    font-family: 'Playfair Display SC', serif;
}

footer {
    text-align: center;
    font-family: 'Playfair Display SC', serif;

}

.genre-chosen {
    background-color: #6369D1;
    color: #FFFFFF!important;
}

.rating-button-selected {
    background-color: #DB7F8E;
    color: #FFFFFF!important;
}

.year-button-selected {
    background-color: #DB7F8E;
    color: #FFFFFF!important;
}