
h1 {
    font-size: 2em;
    font-family: 'Playfair Display SC', serif;
}
.content {
    text-align: center;
}

.genre-choice-button{
    font-family: 'Playfair Display SC', serif;

}
.genre-choice-button:hover {
   
    border-color: gold;
    color: lightseagreen;     
    font-family: 'Playfair Display SC', serif;

  }
.is-horizontal-center{
    justify-content: center;
}
#submit-genre-button {
    font-family: 'Playfair Display SC', serif;
}
#submit-genre-button:hover {
    border-color: green;
    color: lightseagreen;  
    font-family: 'Playfair Display SC', serif;
}

footer {
    text-align: center;
    font-family: 'Playfair Display SC', serif;

}

.genre-chosen {
    background-color: #6369D1;
    color: #FFFFFF!important;
}

.rating-button-selected {
    background-color: #DB7F8E;
    color: #FFFFFF!important;
}

.year-button-selected {
    background-color: #DB7F8E;
    color: #FFFFFF!important;
}